.add-post {
    padding: 1.5rem 2rem;
    margin-bottom: 3rem;

    background-color: $secondary;
    box-shadow: 0 15px 25px rgba($black, .45);
    border-radius: 5px;
}

.add-post__form {
    display: flex;
    align-items: center;
}

.add-post__textarea {
    display: block;
    flex-grow: 1;
    height: 26px;
    overflow: hidden;

    border: none;
    background: transparent;
    resize: none;

    font-size: 1.5rem;
    color: $white;
    font-family: inherit;

    &::placeholder {
        color: #d2d2d2;
    }
}

.add-post__form-actions {
    width: 120px;
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
}

.add-post__file, 
.add-post__send {
    display: block;
    width: 4.4rem;
    height: 4.4rem;

    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color .2s linear;
}

.add-post__file {
    background: #ebebeb url("../images/photo.svg") center no-repeat;  

    input {
        display: none;
    }

    &:hover {
        background-color: darken(#ebebeb, 5%);
    }
}

.add-post__send {
    background: $blue center no-repeat; 

    &:hover {
        background-color: darken($blue, 5%);
    }
}
