.btn {
    display: inline-block;
    vertical-align: top;
    padding: 1.12em 2.1em;

    background: $secondary;
    border: none;
    cursor: pointer;
    border-radius: 3em;

    font-family: inherit;//наслідування шрифта у батьків
    line-height: 1.1;
    font-size: 1.2rem;
    font-weight: 500;
    color: $white;
    text-decoration: none;
}