.related {
    padding-bottom: .5rem;

    border-bottom: 1px solid #1C1C1C;
}

.related__list {
    display: flex;
    flex-wrap: wrap;

    @include breakpoint($mobile-bp) {
        flex-direction: column;
    }
}

.related__list-item {
    width: 50%;
    margin-bottom: 2.5rem;

    @include breakpoint($mobile-bp) {
        width: 100%;
    }
}

.related__list-title {
    font: 1.4rem;
    color: #F3EBA2;
    font-weight: 500;
    text-overflow: ellipsis;//показує точки при прихований контент
    overflow: hidden;//Скриваємо, що вилазить за межі блока
    white-space: nowrap;//заборона переносу туксту на інший рядок

    a {
        color: inherit;
    }
}

.related__list-date {
    font-size: 1.2rem;
    color: #828282;
}