<div class="modal">
    <div class="modal__content modal__content--contact">
        <button class="modal__close" type="button">
            <img src="assets/images/cancel.svg" alt="Закрыть">
        </button>
        
        <form class="form" action="/" method="post" >
    <div class="form__group form__group--md">
        <input class="form__control" type="text" placeholder="Ваше имя">
        <span class="form__line"></span>
    </div>

    <div class="form__group form__group--md">
        <input class="form__control" type="email" placeholder="Ваше e-mail">
        <span class="form__line"></span>
    </div>

    <div class="form__group form__group--md">
        <textarea class="form__control form__control--textarea" placeholder="Текст сообщения"></textarea>
        <span class="form__line"></span>
    </div>

    <div class="form__footer">
        <div class="form__group form__group--md">
            <button class="btn btn--blue btn--rounded btn--sm" type="submit">Отправить</button>
        </div>
    </div>
    </form>

    <ul class="modal__footer">
       <li>
           e-mail: <a href="mailto:vgulida341@gmail.com"> vgulida341@gmail.com</a>
       </li>
       <li>
            тел: <a href="tel:+3802328562">+380-232-85-622</a>
        </li> 
    </ul>

    </div><!--//modal__content-->
</div><!--//modal-->